*/*/plots
colo829/.DS_Store
colo829/blood_long_reads/blood_only_5way_ALT_per_sample_depth.tsv
colo829/blood_long_reads/blood_only_5way_REF_per_sample_depth.tsv
colo829/long_reads//.png
colo829/long_reads/8plus_validation.svg
colo829/long_reads/af_blood_blt50_descending.png
colo829/long_reads/af_histo_colo_snvs.svg
colo829/long_reads/ALT_5way_per_sample_depth.tsv
colo829/long_reads/chr22_summary.tsv
colo829/long_reads/indels_af_histo_colo.svg
colo829/long_reads/merged_blood.tsv
colo829/long_reads/no_bcm_per_sample_depth.tsv
colo829/long_reads/no_broad_per_sample_depth.tsv
colo829/long_reads/no_nygc_per_sample_depth.tsv
colo829/long_reads/no_uw_per_sample_depth.tsv
colo829/long_reads/no_washu_per_sample_depth.tsv
colo829/long_reads/output.png
colo829/long_reads/paper_fig.png
colo829/long_reads/REF_5way_per_sample_depth.tsv
colo829/long_reads/S4_cumulative_rate_label.svg
colo829/long_reads/S4A_1plusvalid.svg
colo829/long_reads/S4B_2plusvalid.svg
colo829/long_reads/S4C_5plusvalid.svg
colo829/long_reads/S4D_5plusvalid.svg
colo829/long_reads/S4D_8plusvalid.svg
colo829/long_reads/S4D_zoom_cumulative_rates.svg
colo829/long_reads/S4F_cumulative_rates.svg
colo829/long_reads/snv_af_histo.svg
colo829/long_reads/temp_AF_summary.tsv
colo829/long_reads/temp_variant_summary.tsv
colo829/long_reads/visualization.png
colo829/neg_ctrl_sites/neg_ctrl_5way_ALT_per_sample_depth.tsv
colo829/neg_ctrl_sites/neg_ctrl_5way_REF_per_sample_depth.tsv
